nav {
  margin-top: 10px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 20%;
  background-color: #f0f8ff7d;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.nav-links {
  text-decoration: none;
  width: 60%;
  background-color: #f0f8ff7d;
  display: flex;
  border-radius: 20px;
  margin-left: 20px;
  justify-content: space-around;
  align-items: center;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 18px;
 
}
.profile {
  width: 20%;
  background-color: #f0f8ff7d;
  border-radius: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile li {
  list-style: none;
}
.profile li a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 18px;

}
.img {
  width: 10px;
  height: 10px;
  background-image: url("./images/logo.png");
  background-size: contain;
}
